.features-block{text-align:center;display:inline-block;}
.features-block h3{font-family:'ProximaNova_bold', sans-serif;font-size:2rem;}
.features-block p{display:inline-block;width:80%;font-size:1.6rem;line-height:1.2;}
.features-img{height:8rem;margin-bottom:3rem;}
.features-img img{display:block;margin:0 auto;}
.slick-active{outline:none;}
.arrow{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);position:absolute;z-index:99;width:2rem;height:2rem;border:none;}
.prev{left:0;background:url(../img/left-arrow.svg) center no-repeat;background-size:100%;}
.next{right:0;background:url(../img/right-arrow.svg) center no-repeat;background-size:100%;}
.price{background:#48bc15 url(../img/prices/prices-bg.jpg) center;}
.price-header-btn{margin-top:2.5rem;}
.price-button{text-align:right;}
.price-block{padding:1rem 3rem;min-height:50rem;background-color:#ffffff;-webkit-box-shadow:7px 12px 21px 0px rgba(0, 0, 0, 0.17);box-shadow:7px 12px 21px 0px rgba(0, 0, 0, 0.17);text-align:center;}
.price-block h4{margin:3rem 0;font-size:1.9rem;font-family:'ProximaNova_bold', sans-serif;}
.price-block img{width:100%;max-width:30rem;display:inline-block;margin-bottom:2rem;}
.price-tag{display:block;margin-bottom:2rem;font-size:1.9rem;font-family:'ProximaNova_bold', sans-serif;}
.price-list{padding:0;list-style:none;min-height:14rem;font-size:1.6rem;line-height:1.6;}
.price-list li:before{content:'';display:inline-block;margin-right:1rem;width:1.4rem;height:1.4rem;background:url(../img/check.svg) no-repeat center;background-size:100%;vertical-align:middle;}
.feedback{position:relative;background:url(../img/feedback/feedback-bg.jpg) no-repeat center;background-size:cover;}
.feedback-prev-btn{left:-4rem;}
.feedback-next-btn{right:-4rem;}
.feedback-text{position:relative;margin-top:2rem;padding:1rem;border:2px solid #48bc15;font-size:1.5rem;font-style:italic;}
.feedback-text:before{content:'';display:block;position:absolute;top:-2rem;left:4rem;width:2rem;height:2rem;background-color:#ffffff;border:2px solid #48bc15;border-bottom:none;border-top-right-radius:90%;border-bottom-left-radius:70%;}
.feedback-slider{padding:5rem 6rem;background-color:#ffffff;-webkit-box-shadow:6px 10px 18px 0px rgba(0, 0, 0, 0.11);box-shadow:6px 10px 18px 0px rgba(0, 0, 0, 0.11);}
.feedback-slider-btn{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:4rem;height:4rem;background-color:#48bc15;border:none;}
.feedback-slider-btn img{width:50%;}
.feedback-slider p{font-size:1.6rem;}
.feedback-slider .media{margin-top:3rem;font-size:1.4rem;}
.feedback-slider .media h4{font-family:'ProximaNova_bold', sans-serif;}
.feedback-form{margin-top:5rem;padding:4rem 10rem;background-color:#ffffff;text-align:center;}
.feedback-form h3{font-size:2rem;font-family:'ProximaNova_bold', sans-serif;margin-bottom:1rem;}
.feedback-form label{-webkit-transform:translate(-50%, 8px);transform:translate(-50%, 8px);}
.feedback-btn{max-width:25rem;margin:auto;}
.hand{position:absolute;bottom:0;left:0;max-width:30rem;}
.scheme{background:url(../img/scheme-bg.png) bottom -10rem right -15rem no-repeat;background-size:65rem;}
.scheme-block{min-height:25rem;}
.scheme-block h3{font-size:2rem;font-family:'ProximaNova_bold', sans-serif;}
.scheme-block p{font-size:1.5rem;line-height:18px;}
.all-inclusive{background-color:#f5f5f5;}
.all-inclusive .media{min-height:9rem;}
.all-inclusive .media h4{font-family:'ProximaNova_bold', sans-serif;font-size:1.6rem;}
.all-inclusive .media p{font-size:1.2rem;line-height:1.1;}
.all-inclusive .media-body{padding:1rem;}
.circle{display:inline-block;background-color:#48bc15;width:100%;height:100%;border-radius:50%;}
.circle-border{display:inline-block;height:5rem;width:5rem;padding:0.3rem;border:solid 2px #48bc15;border-radius:50%;text-align:center;line-height:4rem;color:#ffffff;font-family:'ProximaNova_bold', sans-serif;font-size:1.9rem;}
.problems{position:relative;}
.problems-women{position:absolute;width:30rem;bottom:0;left:50%;margin-left:-18rem;}
.problems-list{border:solid 4px;padding:2rem;min-height:35rem;margin-bottom:2rem;}
.problems-list h4{font-size:2.1rem;font-family:'ProximaNova_bold', sans-serif;}
.problems-list ul{padding-left:0;padding-top:2rem;list-style:none;font-size:1.5rem;}
.problems-list ul li{position:relative;margin-bottom:3rem;padding-left:3.5rem;}
.problems-list ul li::before{content:'';position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:3rem;height:3rem;}
.problems-list_bad{border-color:#e8e8e8;}
.problems-list_bad h4{opacity:0.5;}
.problems-list_bad ul li::before{background:url(../img/problems/problem.svg) center no-repeat;background-size:70%;}
.problems-list_good{border-color:#48bc15;}
.problems-list_good ul li::before{background:url(../img/problems/checked-symbol.svg) center no-repeat;background-size:70%;}
.materials{background:#ffffff url(../img/materials/material-bg.jpg) center no-repeat;background-size:cover;}
.materials img{display:block;margin:0 auto;}
.materials-link{color:#48bc15;border-bottom:1px dotted #48bc15;}
.materials-link:hover{color:#368e10;}
.materials-links{font-size:1.4rem;}
.materials-offer{margin-top:4rem;text-align:center;font-size:1.8rem;}
.tour{background:#ffffff url(../img/tour.jpg) center no-repeat;background-size:cover;}
.tour-subtitle{font-size:2.2rem;}
.upsell{background:#286b0a;}
.upsell-block{display:inline-block;min-height:30rem;text-align:center;color:#ffffff;}
.upsell-blocks{margin-top:5rem;}
.upsell-block img{width:100%;max-width:30rem;}
.upsell-block p{margin-top:2rem;font-size:2rem;}
.contacts{background:#ffffff url(../img/contacts-bg.jpg) center no-repeat;background-size:cover;}
.contacts h2{font-family:'ProximaNova_bold', sans-serif;}
.contacts p{font-size:1.5rem;margin-top:2rem;margin-bottom:2rem;}
.contacts-link{display:inline-block;color:#1a1820;border-bottom:1px dotted #1a1820;}
.contacts-link:hover{color:#020203;}
.contacts-form h2{font-size:1.9rem;font-family:'ProximaNova_reg', sans-serif;margin-bottom:3rem;}
footer{padding:4rem 0;}
.footer-contacts{text-align:center;}
.footer-contacts p{font-size:1.4rem;margin:0;}
.footer-dev-logo{text-align:right;}
.popup{display:none;position:fixed;top:0;left:0;bottom:0;right:0;width:100%;right:100%;z-index:9;background-color:rgba(0, 0, 0, 0.5);}
.popup-content{position:fixed;left:50%;top:10%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background-color:#ffffff;padding:4rem 6rem;}
.popup-form{margin-top:3rem;padding:0;}
.popup-close{position:absolute;top:-1.5rem;right:-2rem;width:2rem;text-align:center;border:none;background-color:transparent;font-size:3rem;color:#ffffff;}
.popup-content{text-align:center;}
.popup-header{font-family:'ProximaNova_bold', sans-serif;}
.popup p{font-size:1.5rem;}
@media (max-width:1999px){.feedback-form{padding:3rem 5rem;}
.feedback .fotorama{margin-bottom:3rem;}
.problems-list{min-height:40rem;}
}
@media (max-width:991px){.main{background-position:top right;}
.phone-block{text-align:center;}
.main-content{margin-top:3rem;}
.main-titel{padding-bottom:3rem;text-align:center;}
.price-button{text-align:center;padding:2rem 0;}
.price-header-btn{margin-top:0;margin-bottom:2rem;}
.price-block{margin-top:2rem;text-align:center;}
.section-header_light{margin-bottom:0;}
.hand{display:none;}
.problems-list{min-height:auto;}
.problems-women{display:none;}
.tour{background:none;background-color:#f5f5f5;}
.contacts{background:none;background-color:#f5f5f5;}
.contacts-form{margin-top:3rem;}
}
@media (max-width:766px){.main-content{padding-top:5rem;}
.scheme{background:none;}
.scheme-block{text-align:center;min-height:20rem;}
footer{text-align:center;}
.footer-contacts{margin:2rem 0;}
.footer-dev-logo{text-align:center;}
}
@media (max-width:575px){.main{background-position:top left;}
.main h1{font-size:2.5rem;}
.header{text-align:center;}
.main-content{padding-top:10rem;}
.wrap-block{text-align:center;}
.feedback-prev-btn{left:0rem;}
.feedback-next-btn{right:0rem;}
.map{display:none;}
.feedback-form{display:none;}
}