/* Fonts */
@font-face {
  font-family: 'HelveticaNeueCyr_light';
  src: url('HelveticaNeueCyr-Light.eot');
  src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Light.woff2') format('woff2'), url('HelveticaNeueCyr-Light.woff') format('woff'), url('HelveticaNeueCyr-Light.ttf') format('truetype'), url('HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr_bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basiс setting */
html {
  font-size: 17px;
}
body {
  font-family: 'HelveticaNeueCyr_light', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  font-size: 18px;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  border: none;
  background-color: #95c62c;
  color: #ffffff;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  background-color: #85b127;
}
/* Typography */
.section {
  padding: 8rem 0 6rem 0;
}
/* Оформление форм */
.main {
  background: #18242b url(../img/main-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 1rem 0;
}
.main .header {
  background: rgba(16, 16, 15, 0.7);
  /* Цвет фона */
  color: #fff;
  /* Цвет текста */
  padding: 0.6rem;
}
.main .logo img {
  transform: translateY(-0.9rem);
}
.main .logo p {
  display: inline-block;
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  color: #ffffff;
  line-height: 1.2em;
  padding: 0.5rem;
}
.main-content {
  margin-top: 9rem;
}
.main .phone-block {
  position: absolute;
}
.main .phone-block p {
  color: #ffffff;
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
}
.main .phone-block .call {
  color: #95c62c;
  position: relative;
  bottom: 1.2rem;
}
.main .phone-block .call:hover {
  text-decoration: none;
  color: #b5dc62;
}
.main-titel {
  color: #ffffff;
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
}
.main-titel h1 {
  font-size: 35px;
}
.main-titel p {
  font-size: 26px;
}
.main .wrap {
  position: relative;
}
.main .wrap-box {
  display: block;
  margin-top: 3rem;
}
.main .wrap-phone {
  position: absolute;
  bottom: 0;
  right: 5%;
  margin-right: -18rem;
}
.description {
  position: relative;
}
.description-header {
  font-size: 35px;
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
}
.description-img {
  position: absolute;
  bottom: 30%;
  left: 73%;
  margin-left: -18rem;
}
.description-primary_text {
  line-height: 1.3;
}
.description-btn {
  padding: 0.8rem 1.1rem;
}
.description-list {
  display: inline-block;
  min-height: 11rem;
  min-width: 13rem;
}
.description-list h4 {
  font-size: 18px;
}
.description-list h4 strong {
  color: #b61919;
  padding: 0.5rem;
}
.description-list ul li {
  font-size: 14px;
  list-style: none;
  position: relative;
  left: -2rem;
}
.description-list_item {
  color: #ffffff;
}
@media (max-width: 1199px) {
  .description {
    position: relative;
  }
  .description-img {
    width: 25rem;
    position: absolute;
    bottom: 30%;
    left: 80%;
    margin-left: -18rem;
  }
}
@media (max-width: 991px) {
  .main-titel h1 {
    font-size: 30px;
  }
  .wrap {
    position: relative;
  }
  .wrap-phone {
    width: 20rem;
    position: absolute;
    top: -10%;
    left: 70%;
    right: -15%;
    margin-right: -18rem;
  }
  .description-img {
    width: 30rem;
    padding-bottom: 3rem;
    position: absolute;
    left: 50%;
    margin-left: -18rem;
  }
  .description-primary {
    margin-bottom: 30rem;
  }
}
@media (max-width: 767px) {
  .header {
    height: 8rem;
  }
  .phone-block {
    position: absolute;
  }
  .phone-block p {
    display: inline-block;
  }
  .phone-block .call {
    position: relative;
    top: 0rem;
    padding: 0 0.5rem;
  }
  .wrap {
    position: relative;
  }
  .wrap-box {
    width: 15rem;
  }
  .wrap-phone {
    width: 17rem;
    position: absolute;
    left: 50%;
    top: 4%;
  }
  .main-content {
    margin-top: 5rem;
  }
  .main-titel h1 {
    font-size: 25px;
  }
  .description-img {
    width: 25rem;
    padding-bottom: 3rem;
    position: absolute;
    top: 21rem;
    left: 60%;
    margin-left: -18rem;
  }
  .description-primary {
    margin-bottom: 22rem;
  }
  .description-list {
    margin-bottom: 1.5rem;
  }
  .description-btn {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .wrap-phone {
    width: 14rem;
  }
}
@media (max-width: 480px) {
  .logo img {
    width: 5rem;
  }
  .logo p {
    font-size: 14px;
  }
  .wrap-box {
    float: right;
    width: 17rem;
  }
  .wrap-phone {
    display: none;
  }
  .main-titel h1 {
    font-size: 20px;
  }
  .main-titel p {
    font-size: 16px;
  }
  .description-header {
    font-size: 15px;
  }
  .description-img {
    width: 20rem;
    position: absolute;
    top: 27rem;
    left: 75%;
    margin-left: -18rem;
  }
  .description-primary {
    margin-bottom: 20rem;
  }
  .description-btn {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .logo img {
    width: 3rem;
  }
  .logo p {
    font-size: 10px;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-titel {
    font-size: 15px;
  }
  .description-img {
    width: 15rem;
    position: absolute;
    top: 33rem;
    left: 100%;
    margin-left: -18rem;
  }
  .description-primary {
    margin-bottom: 15rem;
  }
}
